@import url("style/header.css");
:root{
 --laranja-claro: #FF862A;
    --preto: #000000;
    --branco: #FFFFFF; 
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #0003c4;
    color: rgb(2, 5, 18);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 15%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#587cf3,#02e1ff);
    color:rgb(1, 7, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}


.estudante{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
}

.estudante-icone{
    width: 24px;
    padding: 4px 8px;
}

.estudante-div{
    text-align: center;
    padding: 16px 0;
}
.rodape{
    background-color: rgb(0, 30, 128);
    text-align: center;
}

.rodape-imagem{
    height: 60px;
    padding: 12px 0;
   
}

.menu-acessibilidade{
    position: fixed;
    top:2rem;
    right:20px;
    z-index: 1000;
}

.rotacao-botao{
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade{
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button{
    margin-bottom: 5px;
}

.apresenta-lista{
    display: none;
}

.alto-contraste {
    background-color: var(--preto);
    color: var(--branco);
}

.alto-contraste .cabecalho,
.alto-contraste .rodape,
.alto-contraste .agro {
    background-color: var(--preto);
    color: var(--branco);
}
.alto-contraste .botao-inicio,
.alto-contraste .btn-primary {
    background-color: var(--laranja-claro);
    color: var(--preto);
}